.container {
  padding-bottom: 80px;
}

.headerContainer {
  padding-bottom: 00px;
  background-color: brown;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemComponent {
  display: inline;
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
  width: 50px;
  height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 5;
}
