.container {
  padding-bottom: 80px;
}

.headerContainer {
  padding-bottom: 00px;
  background-color: brown;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemComponent {
  display: inline;
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
  width: 50px;
  height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 5;
}

.backgroundImage {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: url('../img/bg-pattern.png'), #7b4397;
  background: url('../img/bg-pattern.png'),
    -webkit-linear-gradient(to left, #ab04ff5d, #ffffff);
  background: url('../img/bg-pattern.png'),
    linear-gradient(to left, #a04e4e, brown);
}
